@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

h1{
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
font-size:5em;
text-align:center;
text-transform: uppercase;
color: #999;
font-weight: 100;
text-shadow:-1px 1px 0px #fff   
}

/* #Canvas Element Circular charts
================================================== */
canvas, video {display: inline-block;}


.stats-container {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
padding-bottom: 0px;
}

.stats-container div {
display: inline-block;
margin: 0 4% 5px;
position: relative;
}

.circular-stat {
position: relative;
}

.circular-stat .digit-label {
color:  #db4dc2;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
font-size: 3.2em;
text-align: center;
display: inline-block;
position: absolute;
top: 3%;
width: 65%;
left: 12.5%;
padding: 30px 0 0 30px;
  text-shadow:-1px 1px 0px #fff 
white-space: nowrap;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

.circular-stat .text-label {
font-family:"Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
color: #333;
font-size:1.5em;
top: 45%;
left: 21.875%;
width: 56.25%;
padding-top: 6px;
display: inline-block;
position: absolute;
text-align: center;
border-top: 1px solid #999;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

span.text-title {
color:  #444;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
text-align: center;
letter-spacing: -1px;
font-size: 1.3em;
font-weight: 400;
text-shadow: -1px 1px 0px #FFF;
padding: 30px 10px 0 0px;
margin-top: 240px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
z-index: 99999;
display: block;
text-shadow: -1px 1px 0px #fff;
}

span.text-dates{
font-size: 1.5em;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
color: #999;
text-shadow: -1px 1px 0px #fff;
}

@media only screen and (min-width: 1010px) { 
.stats-container div {margin: 0 2% 5px;}
}
@media only screen and (max-width: 1009px) { 
.stats-container div {margin: 0 -.2em 5px;}
}
